<app-page title="ลงทะเบียนผู้ใช้ใหม่">

    <app-form-card title="แบบฟอร์มลงทะเบียนสมาชิกใหม่" subtitle="กรุณากรอกข้อมูลให้ครบถ้วน" [backUrl]="['', 'login']">
        <form [formGroup]="registerForm" (submit)="onRegisterSubmit()">
            <div fxLayout="column">
                <mat-form-field appearance="outline" floatLabel="always">
                    <mat-label>อีเมล์</mat-label>
                    <input matInput placeholder="กรุณาระบุอีเมล์" formControlName="email">
                    <mat-icon matSuffix>mail</mat-icon>
                </mat-form-field>
                <mat-form-field appearance="outline" floatLabel="always">
                    <mat-label>เลขบัตร</mat-label>
                    <input matInput placeholder="กรุณาระบุเลขบัตร" formControlName="code">
                    <mat-icon matSuffix>contact_mail</mat-icon>
                </mat-form-field>
                <mat-form-field appearance="outline" floatLabel="always">
                    <mat-label>ชื่อ นามสกุล</mat-label>
                    <input matInput placeholder="กรุณาระบุชื่อ" formControlName="name">
                    <mat-icon matSuffix>person</mat-icon>
                </mat-form-field>
                <mat-form-field appearance="outline" floatLabel="always">
                    <mat-label>รหัสผ่าน</mat-label>
                    <input matInput placeholder="กรุณาระบุรหัสผ่าน" formControlName="pwd">
                    <mat-icon matSuffix>lock</mat-icon>
                </mat-form-field>

                <button mat-raised-button color="primary">ลงทะเบียน</button>
            </div>
        </form>
    </app-form-card>

</app-page>