<app-page title="ข้อมูลผู้ใช้งาน">
    <div fxLayout="column" fxLayoutGap="8px" fxLayoutGap.gt-sm="32px" [ngStyle.gt-sm]="{'padding': '32px'}"
        [ngStyle]="{'padding': '8px'}">
        <mat-card>
            <mat-card-header>
                <mat-card-title>แบบฟอร์มค้นหาข้อมูลผู้ใช้งาน</mat-card-title>
                <mat-card-subtitle>
                    กรุณากรอกคำค้นหาที่ต้องการแล้วกดปุ่มค้นหาระบบจะทำการนำข้อมูลที่ตรงกับคำค้นหามาแสดงที่ตารางข้อมูลผู้ใช้งาน
                </mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
                <form [formGroup]="filterForm">
                    <div fxLayout="row" fxLayout.lt-sm="column" fxLayoutGap="10px">

                        <mat-form-field appearance="outline" fxFlex="20%" floatLabel="always">
                            <mat-label>รหัสบัตร</mat-label>
                            <input matInput placeholder="ค้นหาด้วยรหัสพนักงาน" formControlName="code">
                        </mat-form-field>

                        <!-- Filter next field-->
                        <mat-form-field appearance="outline" fxFlex="40%" floatLabel="always">
                            <mat-label>ชื่อผู้ใช้งาน</mat-label>
                            <input type="text" matInput placeholder="ค้นหาด้วยชื่อ" formControlName="name">
                        </mat-form-field>

                        <mat-form-field appearance="outline" fxFlex="40%" floatLabel="always">
                            <mat-label>อีเมล์</mat-label>
                            <input type="email" matInput placeholder="ค้นหาด้วยอีเมล์" formControlName="email">
                        </mat-form-field>
                    </div>
                    <div fxLayout="row" fxLayout.lt-sm="column" fxLayoutGap="10px">
                        <mat-form-field appearance="outline" fxFlex="20%">
                            <mat-label>รูปแบบใช้งาน</mat-label>
                            <mat-select formControlName="active">
                                <mat-option value="Y">ใช้งาน</mat-option>
                                <mat-option value="N">ไม่ใช้งาน</mat-option>
                            </mat-select>
                        </mat-form-field>
                        <mat-form-field appearance="outline" fxFlex="20%">
                            <mat-label>บทบาทการใช้งาน</mat-label>
                            <mat-select formControlName="role">
                                <mat-option value="A">ผู้ดูแลระบบ</mat-option>
                                <mat-option value="U">ผู้ใช้งาน</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <div fxLayout="row" fxLayout.lt-sm="column" fxLayoutGap="10px">
                        <button fxFlex="0 0 20%" mat-raised-button color="primary" (click)="onFilterClick()">
                            <mat-icon>search</mat-icon>ค้นหา
                        </button>
                    </div>

                </form>
            </mat-card-content>
        </mat-card>
        <mat-card>
            <mat-card-header>
                <mat-card-title>
                    ตารางแสดงข้อมูลผู้ใช้งาน
                </mat-card-title>
                <mat-card-subtitle>
                    จำนวน<span fxHide.lt-sm>ผู้ใช้งานที่พบ </span>{{dataSource.length}} รายการ
                </mat-card-subtitle>
                <mat-card-subtitle>
                    <button mat-stroked-button color="primary" (click)="onAddBtnClick()">
                        <mat-icon>add_circle_outline</mat-icon>เพิ่มผู้ใช้งาน
                    </button>
                </mat-card-subtitle>

            </mat-card-header>
            <mat-card-content class="table-container">
                <table mat-table [dataSource]="dataSource" class="mat-elevation-z8" fxFlex="100%">

                    <!-- Position Column -->
                    <ng-container matColumnDef="ed">
                        <th mat-header-cell *matHeaderCellDef>แก้ไข</th>
                        <td mat-cell *matCellDef="let element">
                            <button mat-icon-button color="primary" (click)="onEditBtnClick(element.id)">
                                <mat-icon>edit</mat-icon>
                            </button>
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="code">
                        <th mat-header-cell *matHeaderCellDef>รหัสบัตร</th>
                        <td mat-cell *matCellDef="let element"> {{element.code}} </td>
                    </ng-container>

                    <ng-container matColumnDef="name">
                        <th mat-header-cell *matHeaderCellDef> ชื่อผู้ใช้งาน </th>
                        <td mat-cell *matCellDef="let element"> {{element.name}} </td>
                    </ng-container>

                    <ng-container matColumnDef="email">
                        <th mat-header-cell *matHeaderCellDef> อีเมล์ </th>
                        <td mat-cell *matCellDef="let element"> {{element.email}} </td>
                    </ng-container>

                    <ng-container matColumnDef="role">
                        <th mat-header-cell *matHeaderCellDef> บทบาทการใช้งาน </th>
                        <td mat-cell *matCellDef="let element"> {{element.role=='A'?'Admin':'User'}} </td>
                    </ng-container>

                    <ng-container matColumnDef="active">
                        <th mat-header-cell *matHeaderCellDef> รูปแบบใช้งาน </th>
                        <td mat-cell *matCellDef="let element">
                            <mat-slide-toggle color="primary" [checked]="element.active =='Y'"
                                (toggleChange)="onActiveChange(element.id, element.active)"></mat-slide-toggle>
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="del">
                        <th mat-header-cell *matHeaderCellDef>ลบ</th>
                        <td mat-cell *matCellDef="let element">
                            <button mat-icon-button color="warn" (click)="onDeleteClick(element.id)">
                                <mat-icon>delete</mat-icon>
                            </button>
                        </td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                    <tr class="mat-row" *matNoDataRow>
                        <td class="mat-cell" [attr.colspan]="displayedColumns.length">ไม่พบข้อมูล</td>
                    </tr>
                </table>
            </mat-card-content>
        </mat-card>

    </div>
</app-page>